div.login{
	@include for-mobile{
		.switch{
			a{
				&.leftSwitch{
					&.active{
						background: linear-gradient(to right, $primary-blue-darkest , $transparent);
					}
				}
				&.rightSwitch{
					&.active{
						color: $primary-font;
						background: linear-gradient(to right,  $transparent, $primary-blue-darkest);
					}
				}
			}
		}
		.content{
			text-align:center;
			form{
				margin: 0 auto;
		    height: 100%;
		    padding: 5rem;
		    label{
					position: relative;
					display: inline-block;
					width: 100%;
					span.error{
						text-transform: capitalize;
				    color: $primary-font;
				    text-shadow: $main-font-shadow;
				    position: absolute;
				    width: 75%;
				    text-align: center;
				    background: $form-warning;
				    border: 1px solid #cc6205;
				    top: -2rem;
				    z-index: 3;
				    left: .8rem;
				    right: 0;
				    padding: .5rem;
				    font-size: 1.1rem;
				    border-radius: 5px;
				    transform: translateY(0rem);
				    transition: all 1s;
				    opacity: 1;
						&~div{
							input,select{
								background: $primary-orange;
								transition: background 1s;
							}
						}
						&:empty{
							transform: translateY(2rem);
							transition: all 1s;
							opacity:0;
						}
						&:after{
							position: absolute;
					    content: ' ';
					    right: .5rem;
					    border-bottom: 0px solid transparent;
					    bottom: -1rem;
					    z-index: -1;
					    border-top: 21px solid $color-black;
					    border-right: 8px solid transparent;
					    border-left: 8px solid transparent;
						}
						&:before{
							position: absolute;
					    content: ' ';
					    right: .5rem;
					    border-bottom: 0px solid transparent;
					    bottom: -1rem;
					    z-index: 1;
					    border-top: 21px solid $form-warning;
					    border-right: 8px solid transparent;
					    border-left: 8px solid transparent;
						}
					}
					input{
						background: $primary-blue-darkest;
						border: inset 1px $primary-blue-dark;
						drop-shadow: -2px 2px 1px $color-black;
						float:left;
					  display: inline-block;
				    width: 80%;
				    margin: .5rem;
				    padding: .4rem;
				    color: $primary-font;
				    text-shadow: 2px 1px 1px black;
				    font-size: 1.1rem;
				    border-radius: 5px;
						&::placeholder{
				    	color: $primary-font;
				    }
					}
				}
				button{
					float:right;
			    padding: .5rem;
			    cursor: pointer;
			    margin-right: 3rem;
			    font-size: 1.4rem;
			    text-transform: capitalize;
			    background: $primary-blue-darkest;
			    color: $primary-font;
			    text-shadow: $main-font-shadow;
			    border: none;
			    border-radius: .3rem;
			    box-shadow: inset 0px 2px 0px $primary-blue-light, inset 2px 0px 0px $color-black, inset -2px -2px 0px $color-black, -1px 1px 1px $primary-blue-darkest, 1px 1px 1px $primary-blue-darkest;
				}
				a{
					display:none;
				}
			}
		}
	}
	@include for-tablet-and-up {
		.switch{
			display:none;
		}
		.content{
			text-align:center;
			form{
				margin: 0 auto;
		    height: 100%;
		    padding: 5rem;
		    label{
					position: relative;
					display: inline-block;
					width: 100%;
					span.error{
						text-transform: capitalize;
				    color: $primary-font;
				    text-shadow: $main-font-shadow;
				    position: absolute;
				    width: 75%;
				    text-align: center;
				    background: $form-warning;
				    border: 1px solid #cc6205;
				    top: -2rem;
				    z-index: 3;
				    left: .8rem;
				    right: 0;
				    padding: .5rem;
				    font-size: 1.1rem;
				    border-radius: 5px;
				    transform: translateY(0rem);
				    transition: all 1s;
				    opacity: 1;
						&~div{
							input,select{
								background: $primary-orange;
								transition: background 1s;
							}
						}
						&:empty{
							transform: translateY(2rem);
							transition: all 1s;
							opacity:0;
						}
						&:after{
							position: absolute;
					    content: ' ';
					    right: .5rem;
					    border-bottom: 0px solid transparent;
					    bottom: -1rem;
					    z-index: -1;
					    border-top: 21px solid $color-black;
					    border-right: 8px solid transparent;
					    border-left: 8px solid transparent;
						}
						&:before{
							position: absolute;
					    content: ' ';
					    right: .5rem;
					    border-bottom: 0px solid transparent;
					    bottom: -1rem;
					    z-index: 1;
					    border-top: 21px solid $form-warning;
					    border-right: 8px solid transparent;
					    border-left: 8px solid transparent;
						}
					}
					input{
						background: $primary-blue-darkest;
						border: inset 1px $primary-blue-dark;
						drop-shadow: -2px 2px 1px $color-black;
					  display: inline-block;
				    width: 80%;
				    margin: .5rem;
				    padding: .4rem;
				    color: $primary-font;
				    text-shadow: 2px 1px 1px black;
				    font-size: 1.1rem;
				    border-radius: 5px;
						&::placeholder{
				    	color: $primary-font;
				    }
					}
				}
				button,a{
					float:right;
			    padding: .5rem;
			    cursor: pointer;
			    margin-right: 3rem;
			    font-size: 1.4rem;
			    text-transform: capitalize;
			    background: $primary-blue-darkest;
			    color: $primary-font;
			    text-shadow: $main-font-shadow;
			    border: none;
			    border-radius: .3rem;
			    box-shadow: inset 0px 2px 0px $primary-blue-light, inset 2px 0px 0px $color-black, inset -2px -2px 0px $color-black, -1px 1px 1px $primary-blue-darkest, 1px 1px 1px $primary-blue-darkest;
				}
				a{
					float:left;
					margin-left: 3.5rem;
					text-decoration: none;
				}
			}
		}	
	}
}