div.main{
	grid-area: main;
	display:grid;
	>div{
		
		@include for-mobile {
			display:grid;
			grid-template-columns: 1fr;
			grid-template-rows: .5fr 8fr;
			grid-template-areas: "switch" "content";
		}
	}
}