
nav.footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav-home-btn nav-finances-btn nav-logout-btn";
	grid-area: footer;
	grid-column-gap: 2rem;
 	grid-row-gap: 2rem;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
 	.home{
 		grid-area: nav-home-btn;
 	}
 	.finances{
 		grid-area: nav-finances-btn;
 	}
 	.logout{
 		grid-area: nav-logout-btn;
 	}
}