//--- Colors ---//
//--- Primary ---//
//---------------//
$primary-blue: #134074;
$primary-green: #4bc417;
$primary-orange: #ef7c17;
$primary-red: #d31a1a;

//--- Lighten ---//
//---------------//
$primary-blue-light: #23568F;
$primary-blue-lightest: #3F6A99;
$primary-green-light: #6ACE3F;
$primary-green-lightest: #8BE067;
$primary-orange-light: #FA9B47;
$primary-orange-lightest: #FFB471;

//--- Darken ---//
//--------------//
$primary-blue-dark: #07305E;
$primary-blue-darkest: #032142;
$primary-green-dark: #359A0A;
$primary-green-darkest: #247900;
$primary-orange-dark: #BE5D07;
$primary-orange-darkest: #964700;

//--- Font ---//
//---------------//
$font-stack: Radjhadi, sans-serif;
$primary-font: #d8d8d8;
$switch-deact: gray;
$main-font-shadow: 2px 2px 1px black;

//--- Media ---//
//-------------//
$xsmall-width: 320px;
$mobile-width: 767px;
$tablet-width: 991px;
$desktop-width: 1199px;

//--- Other ---//
//-------------//
$color-black: #000000;
$transparent: #ff000000;
$nav-main-shadow: #2e2e2e;
$form-warning: #e36811;

//--- Footer ---//
//--------------//
$activator-height: 100px;

