//--- Import Includes ---//
//-----------------------//
@import 'includes';

//--- Global Styling ---//
//----------------------//
html{
	font-size: 16px;
	height: 100%;
	@include for-mobile {
		font-size: 12px;
	}
	body {
		height: 100%;
		overflow:hidden;
		#app{
			height: 100%;
			min-height: 500px;
			@include for-mobile {
				background: $primary-blue-lightest;
			}
			>div{
				height: 100%;
				display: grid;
				grid-template-columns: 1fr;
				@include for-mobile {
					grid-template-areas: "header" "main" "footer";
					grid-template-rows: .5fr 8fr 1fr;
				}
				@include for-tablet {
					grid-template-areas: "header" "main" ;
					grid-template-rows: .5fr 8fr;
					height: 100%;
				}
			}
		}
		@include for-xsmall {
			//font-size: 12px;
		}
		@include for-mobile {
			//font-size: 22px;
		}
	}
}
